.order-status-main-container {
  display: flex;
  justify-content: center;
}

.order-status-child-container {
  display: flex;
  width: 90%;
  justify-content: space-around;
}

.order-section {
  width: calc(25% - 40px);
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

.order-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #007bff;
  color: #fff;
  font-size: 20px;
  line-height: 40px;
  margin: 0 auto 10px;
  text-align: center;
}

.order-content {
  flex: 1;
}

.order-content h5 {
  margin-top: 0;
}
